 <div class="login-page">
  <div class="login-card">

    <!-- Left Section -->
    <div class="left-panel">
      <h2>Hello, Welcome!</h2>
      <p>Don’t have an account?</p>
      <button class="outline-btn" routerLink="/register">Register</button>
    </div>

    <!-- Right Section -->
    <div class="right-panel">
      <h2>Login</h2>

      <form>
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />

        <a class="forgot-link">Forgot Password?</a>

        <button class="login-btn">Login</button>

        <p class="social-text">or login with social platforms</p>

        <div class="social-icons">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </form>
    </div>

  </div>
</div>
